{% extends "admin/base_site.html" %}

{% block content %}

{% if authorize_url %}
<a href="{{authorize_url}}">Authorize with QuickBooks</a>
{% endif %}

{% if charges %}
<table>
<tr>
<th>ID</th>
<th>Status</th>
<th>Created</th>
<th>Amount</th>
<th>Cardholder</th>
<th>Description</th>
<th></th>
</tr>
{% for charge in charges %}
<tr>
<td>{{charge.id}}</td>
<td>{{charge.status}}</td>
<td>{{charge.created}}</td>
<td>{{charge.amount}}</td>
<td>{{charge.card.name}}</td>
<td>{{charge.description}}</td>
<td><a href="{% url "quickbooks_charges_refund" charge.id %}">Refund</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
